---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=give%20me%20some%20zen.
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "91bad071-bc46-453c-be77-411fc4571dc8",
          "_text" : "give me some zen.",
          "outcomes" : [ {
            "_text" : "give me some zen.",
            "intent" : "zen",
            "entities" : { },
            "confidence" : 0.952
          } ]
        }
  recorded_at: Sun, 09 Nov 2014 21:30:16 GMT
- request:
    method: get
    uri: https://api.github.com/zen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1415571090'
    body:
      encoding: UTF-8
      string: Avoid administrative distraction.
  recorded_at: Sun, 09 Nov 2014 21:30:16 GMT
recorded_with: VCR 2.9.3
