---
http_interactions:
- request:
    method: get
    uri: http://isitup.org/ello.co.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "domain": "ello.co",
            "port": 80,
            "status_code": 1,
            "response_ip": "192.225.208.18",
            "response_code": 301,
            "response_time": 0.036
        }
  recorded_at: Mon, 10 Nov 2014 04:15:48 GMT
recorded_with: VCR 2.9.3
