---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=what%20are%20the%20weather%20conditions%20in%20Denver?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - 0.1.0
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "e33447ca-1488-47c9-bc6d-b24557894180",
          "_text" : "what are the weather conditions in Denver?",
          "outcomes" : [ {
            "_text" : "what are the weather conditions in Denver?",
            "intent" : "weather_conditions",
            "entities" : {
              "location" : [ {
                "value" : "Denver"
              } ]
            },
            "confidence" : 1.0
          } ]
        }
  recorded_at: Sun, 02 Nov 2014 02:06:15 GMT
- request:
    method: get
    uri: http://autocomplete.wunderground.com/aq?query=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "{ \"RESULTS\": [\n\t{\n\t\t\"name\": \"Denver, Colorado\", \n\t\t\"type\":
        \"city\", \n\t\t\"c\": \"US\",\n\t\t\"zmw\": \"80202.1.99999\",\n\t\t\"tz\":
        \"America/Denver\",\n\t\t\"tzs\": \"MDT\",\n\t\t\"l\": \"/q/zmw:80202.1.99999\",\n\t\t\"ll\":
        \"39.749840 -104.995598\",\n\t\t\"lat\": \"39.749840\",\n\t\t\"lon\": \"-104.995598\"\n\t},\n\t{\n\t\t\"name\":
        \"Denver City, Texas\", \n\t\t\"type\": \"city\", \n\t\t\"c\": \"US\",\n\t\t\"zmw\":
        \"79323.1.99999\",\n\t\t\"tz\": \"America/Chicago\",\n\t\t\"tzs\": \"CDT\",\n\t\t\"l\":
        \"/q/zmw:79323.1.99999\",\n\t\t\"ll\": \"32.968433 -102.827766\",\n\t\t\"lat\":
        \"32.968433\",\n\t\t\"lon\": \"-102.827766\"\n\t},\n\t{\n\t\t\"name\": \"Denver,
        Pennsylvania\", \n\t\t\"type\": \"city\", \n\t\t\"c\": \"US\",\n\t\t\"zmw\":
      [...]
- request:
    method: get
    uri: http://api.wunderground.com/api/XXX/conditions/q/zmw:80202.1.99999.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.064'
      Last-Modified:
      - Sun, 02 Nov 2014 02:06:17 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Denver, CO\",\n\t\t\"city\":\"Denver\",\n\t\t\"state\":\"CO\",\n\t\t\"state_name\":\"Colorado\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"80202\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"39.74983978\",\n\t\t\"longitude\":\"-104.99559784\",\n\t\t\"elevation\":\"1600.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"West Highland, Denver, Colorado\",\n\t\t\"city\":\"West
        Highland, Denver\",\n\t\t\"state\":\"Colorado\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"39.768597\",\n\t\t\"longitude\":\"-105.026672\",\n\t\t\"elevation\":\"5377
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KCODENVE86\",\n\t\t\"observation_time\":\"Last
        Updated on November 1, 8:05 PM MDT\",\n\t\t\"observation_time_rfc822\":\"Sat,
        01 Nov 2014 20:05:17 -0600\",\n\t\t\"observation_epoch\":\"1414893917\",\n\t\t\"local_time_rfc822\":\"Sat,
        01 Nov 2014 20:06:17 -0600\",\n\t\t\"local_epoch\":\"1414893977\",\n\t\t\"local_tz_short\":\"MDT\",\n\t\t\"local_tz_long\":\"America/Denver\",\n\t\t\"local_tz_offset\":\"-0600\",\n\t\t\"weather\":\"Partly
        Cloudy\",\n\t\t\"temperature_string\":\"53.4 F (11.9 C)\",\n\t\t\"temp_f\":53.4,\n\t\t\"temp_c\":11.9,\n\t\t\"relative_humidity\":\"55%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"North\",\n\t\t\"wind_degrees\":-999,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1007\",\n\t\t\"pressure_in\":\"29.75\",\n\t\t\"pressure_trend\":\"+\",\n\t\t\"dewpoint_string\":\"38
        F (3 C)\",\n\t\t\"dewpoint_f\":38,\n\t\t\"dewpoint_c\":3,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"53.4
        F (11.9 C)\",\n\t\t\"feelslike_f\":\"53.4\",\n\t\t\"feelslike_c\":\"11.9\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"0\",\n\t\t\"UV\":\"0.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/CO/Denver.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KCODENVE86\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=39.768597,-105.026672\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Sun, 02 Nov 2014 02:06:17 GMT
recorded_with: VCR 2.9.3
