---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=I%20hate%20cats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - 0.1.0
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "592d6a33-8601-4580-981e-a22293dc5992",
          "_text" : "I hate cats",
          "outcomes" : [ {
            "_text" : "I hate cats",
            "intent" : "catfact",
            "entities" : { },
            "confidence" : 0.944
          } ]
        }
  recorded_at: Sun, 02 Nov 2014 01:52:26 GMT
recorded_with: VCR 2.9.3
