---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=what%20does%20the%20moon%20look%20like%20in%20beverly%20hills%20california?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - 0.1.0
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "45a3f37b-ba86-41a1-846b-1e0c38205861",
          "_text" : "what does the moon look like in beverly hills california?",
          "outcomes" : [ {
            "_text" : "what does the moon look like in beverly hills california?",
            "intent" : "weather_moon",
            "entities" : {
              "location" : [ {
                "value" : "beverly hills california"
              } ]
            },
            "confidence" : 0.894
          } ]
        }
  recorded_at: Sun, 02 Nov 2014 02:11:20 GMT
- request:
    method: get
    uri: http://autocomplete.wunderground.com/aq?query=beverly%20hills%20california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "{ \"RESULTS\": [\n\t{\n\t\t\"name\": \"Beverly Hills, California\",
        \n\t\t\"type\": \"city\", \n\t\t\"c\": \"US\",\n\t\t\"zmw\": \"90209.1.99999\",\n\t\t\"tz\":
        \"America/Los_Angeles\",\n\t\t\"tzs\": \"PDT\",\n\t\t\"l\": \"/q/zmw:90209.1.99999\",\n\t\t\"ll\":
        \"34.073219 -118.392723\",\n\t\t\"lat\": \"34.073219\",\n\t\t\"lon\": \"-118.392723\"\n\t}\n]\n}"
  recorded_at: Sun, 02 Nov 2014 02:11:20 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/XXX/astronomy/q/zmw:90209.1.99999.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.023'
      Last-Modified:
      - Sun, 02 Nov 2014 02:11:22 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"astronomy\": 1\n  }\n\t}\n\t\t,\t\"moon_phase\": {\n\t\t\"percentIlluminated\":\"72\",\n\t\t\"ageOfMoon\":\"10\",\n\t\t\"phaseofMoon\":\"Waxing
        Gibbous\",\n\t\t\"hemisphere\":\"North\",\n\t\t\"current_time\": {\n\t\t\"hour\":\"19\",\n\t\t\"minute\":\"11\"\n\t\t},\n\t\t\"sunrise\":
        {\n\t\t\"hour\":\"7\",\n\t\t\"minute\":\"13\"\n\t\t},\n\t\t\"sunset\": {\n\t\t\"hour\":\"18\",\n\t\t\"minute\":\"00\"\n\t\t}\n\t},\n\t\"sun_phase\":
        {\n\t\t\"sunrise\": {\n\t\t\"hour\":\"7\",\n\t\t\"minute\":\"13\"\n\t\t},\n\t\t\"sunset\":
        {\n\t\t\"hour\":\"18\",\n\t\t\"minute\":\"00\"\n\t\t}\n\t}\n}\n"
  recorded_at: Sun, 02 Nov 2014 02:11:22 GMT
recorded_with: VCR 2.9.3
