---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=what's%20the%20forecast%20for%20anchorage%20alaska?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - 0.1.0
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "a2131b06-91cf-4abb-a68f-87ebc4719346",
          "_text" : "what's the forecast for anchorage alaska?",
          "outcomes" : [ {
            "_text" : "what's the forecast for anchorage alaska?",
            "intent" : "weather_forecast",
            "entities" : {
              "location" : [ {
                "value" : "anchorage alaska"
              } ]
            },
            "confidence" : 0.999
          } ]
        }
  recorded_at: Sun, 02 Nov 2014 02:10:11 GMT
- request:
    method: get
    uri: http://autocomplete.wunderground.com/aq?query=anchorage%20alaska
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "{ \"RESULTS\": [\n\t{\n\t\t\"name\": \"Anchorage, Alaska\", \n\t\t\"type\":
        \"city\", \n\t\t\"c\": \"US\",\n\t\t\"zmw\": \"99501.1.99999\",\n\t\t\"tz\":
        \"America/Anchorage\",\n\t\t\"tzs\": \"AKDT\",\n\t\t\"l\": \"/q/zmw:99501.1.99999\",\n\t\t\"ll\":
        \"61.215748 -149.868942\",\n\t\t\"lat\": \"61.215748\",\n\t\t\"lon\": \"-149.868942\"\n\t}\n]\n}"
  recorded_at: Sun, 02 Nov 2014 02:10:11 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/XXX/forecast/q/zmw:99501.1.99999.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.035'
      Last-Modified:
      - Sun, 02 Nov 2014 02:10:12 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"4:15 PM AKDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"title\":\"Saturday\",\n\t\t\"fcttext\":\"Partly
        cloudy. Lows overnight in the upper 20s.\",\n\t\t\"fcttext_metric\":\"Partly
        cloudy. Low -2C.\",\n\t\t\"pop\":\"10\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\n\t\t\"title\":\"Saturday
        Night\",\n\t\t\"fcttext\":\"Partly cloudy skies. Low 29F. Winds light and
        variable.\",\n\t\t\"fcttext_metric\":\"Partly cloudy. Low -2C. Winds light
        and variable.\",\n\t\t\"pop\":\"10\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n\t\t\"icon\":\"cloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c[...]
