---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=give%20me%20a%20quote.
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - 0.1.0
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "88317f8a-40d8-45bc-9d7c-374aaee7d7b2",
          "_text" : "give me a quote.",
          "outcomes" : [ {
            "_text" : "give me a quote.",
            "intent" : "quote",
            "entities" : { },
            "confidence" : 0.988
          } ]
        }
  recorded_at: Sun, 02 Nov 2014 18:55:35 GMT
- request:
    method: get
    uri: http://www.iheartquotes.com/api/v1/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"650a85929c76325c45a9a86b8731d8c7"'
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: "I AM NOT DELIGHTFULLY SAUCY\nI AM NOT DELIGHTFULLY SAUCY\nI AM NOT
        DELIGHTFULLY SAUCY\nI AM NOT DELIGHTFULLY SAUCY\n\n\tBart Simpson on chalkboard
        in episode 1F14\n\n[simpsons_chalkboard] http://iheartquotes.com/fortune/show/9016\n"
  recorded_at: Sun, 02 Nov 2014 18:55:35 GMT
recorded_with: VCR 2.9.3
