---
http_interactions:
- request:
    method: get
    uri: http://autocomplete.wunderground.com/aq?query=Denver%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "{ \"RESULTS\": [\n\t{\n\t\t\"name\": \"Denver, Colorado\", \n\t\t\"type\":
        \"city\", \n\t\t\"c\": \"US\",\n\t\t\"zmw\": \"80202.1.99999\",\n\t\t\"tz\":
        \"America/Denver\",\n\t\t\"tzs\": \"MDT\",\n\t\t\"l\": \"/q/zmw:80202.1.99999\",\n\t\t\"ll\":
        \"39.749840 -104.995598\",\n\t\t\"lat\": \"39.749840\",\n\t\t\"lon\": \"-104.995598\"\n\t},\n\t{\n\t\t\"name\":
        \"Denver Country Club, Colorado\", \n\t\t\"type\": \"city\", \n\t\t\"c\":
        \"US\",\n\t\t\"zmw\": \"80218.1.99999\",\n\t\t\"tz\": \"US3\",\n\t\t\"l\":
        \"/q/locid:1027908\",\n\t\t\"ll\": \"39.720001 -104.970001\",\n\t\t\"lat\":
        \"39.720001\",\n\t\t\"lon\": \"-104.970001\"\n\t}\n]\n}"
  recorded_at: Sat, 01 Nov 2014 22:11:08 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/XXX/forecast/q/zmw:80202.1.99999.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.039'
      Last-Modified:
      - Sat, 01 Nov 2014 22:11:08 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"2:37 PM MDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/clear.gif\",\n\t\t\"title\":\"Saturday\",\n\t\t\"fcttext\":\"A
        few clouds. Lows overnight in the mid 40s.\",\n\t\t\"fcttext_metric\":\"Mainly
        clear. Low 6C.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_clear.gif\",\n\t\t\"title\":\"Saturday
        Night\",\n\t\t\"fcttext\":\"A few passing clouds, otherwise generally clear.
        Low 44F. Winds SSW at 5 to 10 mph.\",\n\t\t\"fcttext_metric\":\"Mainly clear.
        Low 6C. Winds SSW at 10 to 15 km/h.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://[...]
