---
http_interactions:
- request:
    method: get
    uri: https://status.heroku.com/api/v3/current-status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"c77339a0d1b9b40ef4530d17a2e857a7"'
    body:
      encoding: UTF-8
      string: '{"status":{"Production":"green","Development":"yellow"},"issues":[{"created_at":"2014-11-06T17:03:03Z","id":682,"resolved":false,"status_dev":"yellow","status_prod":"green","title":"Issues provisioning log drains","upcoming":false,"updated_at":"2014-11-06T17:58:14Z","href":"https://status.heroku.com/api/v3/issues/682","full_url":"https://status.heroku.com/incidents/682","updates": []}]}'
  recorded_at: Sun, 09 Nov 2014 23:08:32 GMT
recorded_with: VCR 2.9.3
