---
http_interactions:
- request:
    method: get
    uri: https://status.heroku.com/api/v3/current-status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"c76c26b143534e5cae8ed2623e3ea84e"'
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"Production":"red","Development":"yellow"},"issues":[]}'
  recorded_at: Sat, 11 Apr 2015 21:54:56 GMT
recorded_with: VCR 2.9.3
