---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=is%20ello.co%20up?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "78fc6dac-a8c4-4766-b51a-369e47904c21",
          "_text" : "is ello.co up?",
          "outcomes" : [ {
            "_text" : "is ello.co up?",
            "intent" : "isitup",
            "entities" : {
              "url" : [ {
                "value" : "ello.co"
              } ]
            },
            "confidence" : 0.978
          } ]
        }
  recorded_at: Mon, 10 Nov 2014 01:04:42 GMT
- request:
    method: get
    uri: http://isitup.org/ello.co.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "domain": "ello.co",
            "port": 80,
            "status_code": 1,
            "response_ip": "192.225.208.18",
            "response_code": 301,
            "response_time": 0.038
        }
  recorded_at: Mon, 10 Nov 2014 01:04:42 GMT
recorded_with: VCR 2.9.3
