---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=status%20of%20heroku?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "8f262c51-7f9e-4835-bf2e-4c8c8868169a",
          "_text" : "status of heroku?",
          "outcomes" : [ {
            "_text" : "status of heroku?",
            "intent" : "heroku_status",
            "entities" : { },
            "confidence" : 0.983
          } ]
        }
  recorded_at: Mon, 10 Nov 2014 00:45:40 GMT
- request:
    method: get
    uri: https://status.heroku.com/api/v3/current-status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"a4ba1453ba9ed9330ba7e7e15ab08bde"'
    body:
      encoding: UTF-8
      string: '{"status":{"Production":"green","Development":"green"},"issues":[]}'
  recorded_at: Mon, 10 Nov 2014 00:45:40 GMT
recorded_with: VCR 2.9.3
