---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=any%20issues%20with%20heroku?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "15b96e1d-ecb9-4715-9337-27cd343e2e66",
          "_text" : "any issues with heroku?",
          "outcomes" : [ {
            "_text" : "any issues with heroku?",
            "intent" : "heroku_issues",
            "entities" : { },
            "confidence" : 0.94
          } ]
        }
  recorded_at: Mon, 10 Nov 2014 00:45:56 GMT
- request:
    method: get
    uri: https://status.heroku.com/api/v3/issues?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"79d03698c22ce8fd873b32801588322e"'
    body:
      encoding: UTF-8
      string: '[{"created_at":"2014-11-06T17:03:03Z","id":682,"resolved":true,"status_dev":"green","status_prod":"green","title":"Issues
        provisioning log drains","upcoming":false,"updated_at":"2014-11-06T17:58:14Z","href":"https://status.heroku.com/api/v3/issues/682","full_url":"https://status.heroku.com/incidents/682","updates":[{"contents":"The
        fix has been deployed and drain provisioning is now back to normal.","created_at":"2014-11-06T17:58:14Z","id":2313,"incident_id":682,"status_dev":"green","status_prod":"green","title":"Issues
        provisioning log drains","update_type":"resolved","updated_at":"2014-11-06T17:58:15Z"},{"contents":"We
        have located the source of the issue and are working to provide a resolution
        within the next few minutes.","created_at":"2014-11-06T17:25:02Z","id":2312,"incident_id":682,"status_dev":"yellow","status_prod":"green","title":"Issues
        provisioning log drains","update_type":"update","updated_at":"2014-11-06T17:25:04Z"},{"contents":"We
        are seeing issues related to provisioning log drains to applications.  O[...]
