---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=set%20a%20timer%20for%2020%20minutes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - 0.1.0
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "af561240-2bcd-4dc4-bdae-ce052e89420c",
          "_text" : "set a timer for 20 minutes",
          "outcomes" : [ {
            "_text" : "set a timer for 20 minutes",
            "intent" : "timer",
            "entities" : {
              "duration" : [ {
                "minute" : 20,
                "value" : 20,
                "unit" : "minute",
                "normalized" : {
                  "unit" : "second",
                  "value" : 1200
                }
              } ]
            },
            "confidence" : 1.0
          } ]
        }
  recorded_at: Sun, 02 Nov 2014 01:45:06 GMT
recorded_with: VCR 2.9.3
